#grandparent
{
    border: 2px solid red;
    margin: 20px;
    height:400px;
}
#parent
{
    border: 2px solid green;
    margin: 30px;
    height: 300px;
}
#child
{
    border: 2px solid black;
    margin: 40px;
    height: 200px;
}